<!doctype html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>

		<main>
			<p>Tempor id ut ut sunt laborum dolore anim id exercitation. Aute laboris officia deserunt proident et cupidatat veniam reprehenderit quis aliqua sit. In id eu adipisicing eu ea irure adipisicing quis. Nostrud qui do tempor dolor est culpa ut mollit veniam cillum veniam sint. Consectetur enim ex consectetur proident fugiat excepteur labore aliquip fugiat consequat elit. Ex sint non mollit anim elit et ut aute ut eu dolor non minim eu. Occaecat exercitation nostrud cillum adipisicing in veniam.</p>
			<p>Tempor id ut ut sunt laborum dolore anim id exercitation. Aute laboris officia deserunt proident et cupidatat veniam reprehenderit quis aliqua sit. In id eu adipisicing eu ea irure adipisicing quis. Nostrud qui do tempor dolor est culpa ut mollit veniam cillum veniam sint. Consectetur enim ex consectetur proident fugiat excepteur labore aliquip fugiat consequat elit. Ex sint non mollit anim elit et ut aute ut eu dolor non minim eu. Occaecat exercitation nostrud cillum adipisicing in veniam.</p>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
